.App {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default for all levels */
  grid-gap: 10px;
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto;
}

/* Styles for different difficulty levels */
.grid.easy {
  grid-template-rows: repeat(2, 1fr);
}

.grid.medium {
  grid-template-rows: repeat(4, 1fr);
}

.grid.hard {
  grid-template-rows: repeat(6, 1fr);
}

.grid.advanced {
  grid-template-rows: repeat(8, 1fr);
}

/* Style for the card images */
.grid img {
  width: 100%;
  height: 100%;
  max-width: 100px; /* Adjust as needed */
  max-height: 100px; /* Adjust as needed */
  cursor: pointer;
}


