/* App.css */
.app-container {
  position: relative; /* Relative positioning for child elements */
  top: 0;
  padding: 10px;
}

.app-content {
  /* Styles for your app's content */
  text-align: center;
  padding: 10px;
  color: white;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px; /* Example border radius */
  z-index: 2; /* Ensure the app content is above the background */
  margin: 0 auto; /* Center the content horizontally */
}

.label-spacing, 
.select-spacing{
  margin-bottom: 5px; /* Adjust the margin-bottom value to control the spacing */
  margin-top: 5px;
}
select{
  background-color:honeydew;
  color: black;
  height: 30px;
  margin-left: 10px;
}

.grid-top{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 400px;
  margin: 0 auto;
  height: 10%;
}
.grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 400px;
}

/* Styles for different difficulty levels */
.grid.easy {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr); 
}

.grid.medium {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr); 
}

.grid.hard,
.grid.advanced {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr); 
  max-width: fit-content;
}
/* Style for the card images */
.grid img {
  width: 100%;
  height: 100%;
  max-width: 100px; /* Adjust as needed */
  max-height: 100px; /* Adjust as needed */
  cursor: pointer;
}

/* score animation */
.score {
  font-size: 24px;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.score.matched {
  color: green; /* Change the color when a match is found */
  transform: scale(1.2); /* Scale the score to create a zoom effect */
}


